.logo {
  display: flex;
  width: 30%;
  height: 10%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
  color: white;
}
a {
  display: block;
  padding: 8px;
}
h1, h2, h3{
  font-size:xx-large;
}
.navbar {
  display: flex;
  color: white;
  font-family: Poppins;
  justify-content: space-between;
}
.leftbtns {
  margin-left: auto;
  color:  white;
  justify-content: space-between;
}
.started{
  color:  white;
  top: 900px;
  left: 90px;
  background-color: #ED661F;
  padding: 1%;
  font-size: 50px;
  font-family: 'Inter';
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 20px 30px;
  color: #fff;
  z-index: 2;
}
.logo h1 {
  display: flex;
  align-items: center;
  width: 100%;
}
.leftbtns {
  display: flex;
  align-items: center;
  width: 30%;
  color: #fff;
}
.leftbtns ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}
.leftbtns ul li {
  display: flex;
  align-items: center;
  color: #fff;
}
.started{
  color: #ED661F;
}

/* end of header */

.grass
{
  position: relative;
  top: 0px;
  left: 0;
  margin-top: -10%;
  z-index: -1;
}
.fruits
{
  position: absolute;
  top: 400px;
  right: 90px;
}
.text
{
  position: absolute;
  top: 450px;
  left: 90px;
  font-size: 425%;
  font-family: 'Inter';
}
.paragraph1
{
  position: absolute;
  top: 750px;
  left: 90px;
  font-size: 150%;
  font-family: 'Inter';
}
.button1{
  color:  white;
  position: absolute;
  top: 900px;
  left: 90px;
  background-color: #ED661F;
  padding: 1%;
  font-size: 50px;
  font-family: 'Inter';
}
.container {
  position: absolute;
  top: 950px;
  right: 90px;
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 30px 20px;
  justify-content:space-between;
  background-color: white;
  box-shadow: #fff;
}
 /* end of first body with images over other images */

.exist{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 50px;
  text-align:left;
  align-items: center;
}
.paragraph2{
  font-family: 'Poppins';
  font-weight: 500;
  width: 500px;
}
.image3{
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content:end;
}
.container2 {
  text-align: center;
}
.container3 {
  display: flex;
  width: 100%;
  padding: 100px 50px;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin-top: 50px;
  width: 100%;
  grid-gap: 30px;
}
.product1 {
  display: flex;
  flex-direction: column;
}
.container4 {
  display: inline-flex;
  width: 100%;
  padding: 100px 50px;
  justify-content:flex-start;
  flex-direction: row;
  width: 70%;
}
.review1{
  display: flex;
  width: 100%;
  padding: 10px 5px;
  justify-content:space-between;
  flex-direction: column;
  width: 100%;
  display: flexbox;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: none;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  align-items: left;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.footer {
  background-color: black;
  padding: 20px;
  color: #fff;
}
.buttonl{
  background-color: #ED661F;
  color: white;
}
.top{
  text-align: center;
}
.activities{
  align-items: flex-end;
}
.footerbottom{
  text-align: left;
}
.app{
width: 200px;
}
.bottomcontainer{
  display: flex;
}
.bottomtext{
  text-align: center;
  margin-top: 0%;
}
